[flake8]
exclude = tests, test.py

# A001, A002, A003: `id` variable/parameter/attribute
# C408: dict() with keyword arguments
# D105: Missing docstring in magic method
# D106: Missing docstring Model.Config
# D419: Docstring is empty
# S101: Use of assert for type checking
# S303: Use of md5
# S311: Use of pseudo-random generators
# S324: Use of md5 without usedforsecurity=False (3.9+)
ignore = 
    A001, A002, A003,
    C408,
    D105, D106, D419
    S101, S303, S311, S324,

# F401: unused import.
# F403: cannot detect unused vars if we use starred import
# D10*: docstrings
# S10*: hardcoded passwords
# F841: unused variable
# I900: nox is a dev dependency
per-file-ignores =
    **/__init__.py:  F401, F403
    tests/**: D10, S10, F841
    noxfile.py: I900

max-complexity = 12
max-function-length = 100
max-line-length = 130

max_annotations_complexity = 5

accept-encodings = utf-8
docstring-convention = numpy
ignore-decorators = property
requirements_file = requirements.txt