site_name: Genshin.py
site_description: Modern API wrapper for Genshin Impact & Honkai Impact 3rd built on asyncio and pydantic.
site_url: https://ashleney.github.io/genshin.py
theme:
  name: material
  palette:
    - scheme: default
      primary: blue grey
      accent: amber
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
    - scheme: slate
      primary: blue grey
      accent: amber
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
  features:
    - navigation.instant
    - navigation.expand
    - content.code.copy
    - content.code.annotate
  language: en
repo_name: ashleney/genshin.py
repo_url: https://github.com/ashleney/genshin.py
plugins:
  - search
markdown_extensions:
  - tables
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - pymdownx.snippets
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
nav:
  - index.md
  - credits.md
  - Usage:
      - authentication.md
      - battle_chronicle.md
      - hoyolab.md
      - daily_rewards.md
      - lineup.md
      - calculator.md
      - diary.md
      - wish_history.md
      - transactions.md
  - Advanced Usage:
      - configuration.md
      - caching.md
      - debugging.md
  - cli.md
